html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: white;
    height: 100%;
    width: 100%;
}


/* Active Tab */

#admin_accounts {
    pointer-events: none;
    cursor: default;
    background: #d3dff9;
    color: #0e203f;
    font-weight: bold;
}

table {
    box-shadow: 5px 5px #cecece;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
}

th {
    font-weight: normal;
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(odd) {
    background: #d3dff9;
}


tr:hover {
    /* background: #287bee;
  color: white;
  transition: 0.3s; */
}

.dropdown-content {
    display: flex;
    position: relative;
    background-color: #f9f9f9;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* .dropdown:hover .dropdown-content {
    z-index: 99;
    display: block;
} */

.query_sidenav {
    border: 2px solid #cdcdcdce;
    border-bottom: 0px;
    border-right: 0px;
    border-top: 0px;
}

@media screen and (max-width: 700px) {
    /* .sidenav {
      visibility: collapse;
    } */
    .body_container,
    .sidenav {
        /* flex-direction: column; */
    }
}